.add-new-pw-container {
  background-color: #5763a5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .add-new-pw-container {
    flex-direction: row;
    margin-top: 15px;
  }
}

.pw-manager-img-sm {
  width: 90%;
}

.pw-manager-img-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .pw-manager-img-sm {
    display: none;
  }
  .pw-manager-img-lg {
    display: block;
    width: 50%;
  }
}

.pw-manager-container {
  background-color: #454f84;
  width: 100%;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .pw-manager-container {
    width: 40%;
    margin-right: 20px;
    padding: 35px 20px;
  }
}

.add-new-pw-title {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .add-new-pw-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.input-field-main-container {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .input-field-main-container {
    margin-bottom: 15px;
  }
}

.input-field-icon-card {
  background-color: white;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #454f84;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field-icon {
  width: 28px;
}

.input-field-card {
  width: 100%;
  display: flex;
}

.input-field {
  height: 100%;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 16px;
  color: #64748b;
  cursor: pointer;
}

.input-field::placeholder {
  color: #64748b;
  font-size: 16px;
}

.add-btn-container {
  align-self: flex-end;
  cursor: pointer;
}

.add-btn {
  padding: 8px 28px;
  border: none;
  color: white;
  background-color: #0b69ff;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.add-btn:active {
  transform: scale(0.96);
}
